@import "mixins";

body {
  @include body;
}

header {
  @include header;
}

.chooseasection {
  @include chooseasection;
}

select {
  @include select;
}

.articlecontainer {
  @include articlecontainer;
}

.summary {
  @include summary;
}

.summary:hover {
  opacity: 1;
}

a {
  @include a;
}

footer {
  @include footer;
}

@media screen and (min-width: 600px) {
  .chooseasection {
    align-self: center;
    margin-top: 0;
  }

  select {
    height: 1.875em;
    align-self: center;
  }

  .container {
    @include container-tablet-desktop;
  }

  .articlecontainer {
    max-width: 33.3%;
  }
}

@media screen and (min-width: 1240px) {
  .articlecontainer {
    max-width: 25%;
  }

  footer {
    padding-left: 3.125em;
    text-align: left;
  }
}
