.articles {
    .loading {
        @include centered;
        width: 100%;

        img {
            width: 5em;
        }
    }

    .articleContainer {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include mobileArticles;

        .summary {
            padding: 0.5em;
            text-align: center;
            color: $color;
            background: $articleTextBackgroundColor;
        }
    }

    @media screen and (min-width: 600px) {
        @include tabletArticles;
    }

    @media screen and (min-width: 1200px) {
        @include desktopArticles;
    }
}
