$backgroundColor: black;
$articleTextBackgroundColor: rgba(0, 0, 0, 0.5);
$color: white;
$openSansLight: 'OpenSans Light';
$openSansBoldItalic: 'OpenSans BoldItalic';
$openSansBold: 'OpenSans Bold';
$openSansLightItalic: 'OpenSans LightItalic';