@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'header';
@import 'articles';
@import 'footer';

body {
    background: $backgroundColor;
    color: $color;
    font-family: $openSansLight;
}
